compras-backend/compras-service-ws/src/main/resources/META-INF/schemas/cliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://compras.com.br/backend/service/ws/complextype/cliente" 
	targetNamespace="http://compras.com.br/backend/service/ws/complextype/cliente"
	elementFormDefault="qualified">

	<xs:element name="getClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cliente" type="tns:cliente" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- Save Cliente Request -->
	
	<xs:element name="saveClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cliente" type="tns:cliente" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="saveClienteResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="cliente" type="tns:cliente" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- List All Cliente Request -->
	
	<xs:element name="listAllClienteRequest">
	<xs:complexType>
			<xs:sequence>				
			</xs:sequence>
		</xs:complexType>		
	</xs:element>

	<xs:element name="listAllClienteResponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="allClientes" type="tns:cliente" nillable="true" minOccurs="0" maxOccurs="unbounded"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- List All Clientes Que Realizam Reserva de Produtos Request -->
	
	<xs:element name="listAllClientesQueRealizamReservaProdutosRequest">
	<xs:complexType>
			<xs:sequence>				
			</xs:sequence>
		</xs:complexType>		
	</xs:element>

	<xs:element name="listAllClientesQueRealizamReservaProdutosResponse">
		<xs:complexType>
			<xs:sequence>
			<xs:element name="allClientesQueRealizamReservaProdutos" type="tns:cliente" nillable="true" minOccurs="0" maxOccurs="unbounded"/>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- delete Cliente Request -->
	
	<xs:element name="deleteClienteRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteClienteResponse">
		<xs:complexType>
			<xs:sequence>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="cliente">
		<xs:sequence>
			<xs:element name="id" type="xs:long" />
			<xs:element name="nome" type="xs:string" />
			<xs:element name="endereco" type="xs:string" />
			<xs:element name="telefone" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>